.layout {
	max-width: 1200px;
}
.btn-primary {
	background-color: black;
	color: antiquewhite;
	outline: none;

	&:hover {
		background-color: white;
		color: black;
	}
}

.section {
	text-align: center;

	@media only screen and (max-width: 56.25rem) {
		margin-left: -4rem;
	}
	&__card {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		transition: all 0.2s;

		@media only screen and (max-width: 62rem) {
			// margin-right: 5rem;
			width: 100%;
			overflow-x: hidden;
			flex-wrap: wrap;
		}

		&__sidebar {
			margin: 2rem;

			// @media only screen and (max-width: var(--bp-med-small)) {
			// 	display: flex;
			// 	order: 0;
			// 	display: none;
			// }

			@media only screen and (max-width: 56.25rem) {
				margin: 0.7rem;
			}

			@media only screen and (max-width: 62rem) {
				margin: 0.5rem;
				order: 0;
			}
		}

		@media only screen and (max-width: 62rem) {
			flex-wrap: wrap;
		}
	}

	&__heading {
		display: flex;
		text-align: center;
	}

	&__header {
		padding: 1rem;
		margin-left: -20vw;
	}

	&__paginate {
		@media only screen and (max-width: 62rem) {
			display: flex;
		}
	}
}
