.layout {
	max-width: 1200px;
}
.btn-primary {
	background-color: black;
	color: antiquewhite;
	outline: none;

	&:hover {
		background-color: white;
		color: black;
	}
}

.section {
	text-align: center;
	&__card {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		transition: all 0.2s;

		&__sidebar {
			margin: 2rem;
		}

		@media only screen and (max-width: 56.25rem) {
			flex-direction: column;
		}
	}

	&__heading {
		display: flex;
		text-align: center;
	}

	&__header {
		padding: 1rem;
	}
}
