.navbar {
  display: flex;
  align-content: center;
  color: #f4f4f4;
  background-color: #303030;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  box-shadow: 0 1rem 1.5rem #e9e9e9;
  position: relative;
}
.navbar__logo {
  position: absolute;
  left: 8.5%;
  height: 23vh;
  top: 0;
  width: 13vw;
  background-color: #fff;
  color: black;
  box-shadow: 0 1rem 0.5rem #e9e9e9;
}
.navbar__items {
  display: flex;
  align-items: center;
}
.navbar__items-1, .navbar__items-2, .navbar__items-3, .navbar__items-4 {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 1rem;
  position: relative;
}
.navbar__items-1:hover, .navbar__items-2:hover, .navbar__items-3:hover, .navbar__items-4:hover {
  color: gray;
  cursor: pointer;
}
