.layout {
  max-width: 1200px;
}

.btn-primary {
  background-color: black;
  color: antiquewhite;
  outline: none;
}
.btn-primary:hover {
  background-color: white;
  color: black;
}

.section {
  text-align: center;
}
@media only screen and (max-width: 56.25rem) {
  .section {
    margin-left: -4rem;
  }
}
.section__card {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  transition: all 0.2s;
}
@media only screen and (max-width: 62rem) {
  .section__card {
    width: 100%;
    overflow-x: hidden;
    flex-wrap: wrap;
    order: 2;
  }
}
.section__card__sidebar {
  margin: 2rem;
}
@media only screen and (max-width: 56.25rem) {
  .section__card__sidebar {
    margin: 0.7rem;
  }
}
@media only screen and (max-width: 62rem) {
  .section__card__sidebar {
    margin: 0.5rem;
    display: flex;
    order: 1;
  }
}
@media only screen and (max-width: 62rem) {
  .section__card {
    flex-wrap: wrap;
  }
}
.section__heading {
  display: flex;
  text-align: center;
}
.section__header {
  padding: 1rem;
  margin-left: -20vw;
}
@media only screen and (max-width: 62rem) {
  .section__paginate {
    display: flex;
  }
}
@media only screen and (max-width: 62rem) {
  .section .col-lg-3 {
    margin-left: 20vw;
    width: 50%;
  }
}
