.card {
	height: 30rem;
	width: 25rem;
	text-align: center;
	position: relative;
	cursor: pointer;
	margin: 1.2rem;
	flex: 0 0 auto;
	border: 1px solid rgb(212, 212, 212);
	box-shadow: 0 0.2rem 0.7rem rgb(177, 170, 170);
	transition: all 0.2s;
	animation: move 10s linear infinite;
	animation-name: move-right;
	animation-iteration-count: 9;
	overflow: hidden;

	@media only screen and (max-width: 62rem) {
		animation-play-state: paused;
		margin: 0.9rem;
		height: 26rem;
		width: 22rem;
		flex-wrap: wrap;
	}

	&:hover {
		transform: scaleY(1.01);
		box-shadow: 0 1rem 1.8rem rgb(77, 77, 77);
	}

	&__image {
		image-rendering: crisp-edges;
		image-rendering: pixelated;
		flex: 0.9 0 0;
		width: 90%;
		height: 8rem;
		margin-left: 1rem;
		&:hover {
			transform: scale(1.07);
			transition: transform 0.5s;
		}
	}
	&__holder {
		background-color: rgba(224, 24, 24, 0.925);
		width: 7rem;
		height: 3rem;
		position: absolute;
		top: 5%;
		border-radius: 0 1.5rem 1.5rem 0;
		display: flex;
		text-align: center;
		align-items: center;
		z-index: 2;

		&:hover {
			background-color: rgba(128, 0, 128, 0.925);
		}

		&--text {
			color: #fff;
			margin: 1rem;
			font-weight: 700;
			&:hover {
				color: black;
			}
		}
	}
	&__promo {
		color: black;
		font-size: 1.2rem;
		font-style: italic;
	}

	&__price {
		display: flex;
		justify-content: space-between;
		color: black;
		font-size: 1.2rem;

		&-1,
		&-2 {
			padding: 0.3rem;
		}

		&-title {
			color: rgba(224, 24, 24, 0.925);

			&:hover {
				color: rgba(128, 0, 128, 0.925);
			}
		}
	}
}

@keyframes move-right {
	0% {
		transform: translate(0px);
		// opacity: 1;
	}

	50% {
		transform: translate(100px);
		// opacity: 0.8;
	}

	100% {
		transform: translate(200px);
		// opacity: 0.5;
	}
}
