.navbar {
	display: flex;
	align-content: center;
	color: #f4f4f4;
	background-color: rgb(48, 48, 48);
	justify-content: flex-end;
	align-items: center;
	font-size: 1.5rem;
	box-shadow: 0 1rem 1.5rem rgb(233, 233, 233);
	position: relative;

	&__logo {
		position: absolute;
		left: 8.5%;
		height: 23vh;
		top: 0;
		width: 13vw;
		background-color: #fff;
		color: black;
		box-shadow: 0 0.7rem 0.2rem rgb(233, 233, 233);
		text-align: center;

		&:hover {
			box-shadow: 0 1rem 0.4rem rgb(233, 233, 233);
		}

		&-image {
			height: 70%;
			width: 80%;
		}
		&-text {
			font-style: italic;
			font-size: 1.4rem;
			font-family: fantasy;
			letter-spacing: 0.5px;
			color: rgb(32, 32, 32);
		}
	}

	&__items {
		display: flex;
		align-items: center;

		&-1,
		&-2,
		&-3,
		&-4 {
			display: flex;
			list-style: none;
			justify-content: space-around;
			padding: 1rem;
			position: relative;

			&:hover {
				color: gray;
				cursor: pointer;
			}
		}
	}
}
