.layout {
	max-width: 120rem;
	padding: 2rem;

	@media only screen and (max-width: 56.25rem) {
		max-width: 90rem;
		padding: 0.8rem;
	}

	@media only screen and (max-width: 62rem) {
		// margin-right: 5rem;
		max-width: 80rem;
		padding: 1rem;
	}
}
